# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
cache: packages

os:
  - linux
 # - osx

r:
  - release
  - devel
  #- oldrel

env:
   global:
     - R_BUILD_ARGS="--compact-vignettes=gs+qpdf"
     - R_CHECK_ARGS="*tar.gz --as-cran"

addons:
  apt:
    update: true
    packages:
      - libudunits2-dev
      - libgdal-dev
      - qpdf
      - ghostscript

after_success:
  - Rscript -e 'covr::codecov(type = "all")'

install: R -q -e 'tic::install()'
script: R -q -e 'tic::script()'

before_deploy: R -q -e 'tic::before_deploy()'
deploy:
   provider: script
   script: R -q -e 'tic::deploy()'
   on:
     branch: master
     condition:
       - $TRAVIS_PULL_REQUEST = false
       - $TRAVIS_EVENT_TYPE != cron
       - $TRAVIS_R_VERSION_STRING = release
